{% extends "base.html" %}
{% load static %}
{% block title %}
 {{ product.name }}
{% endblock %}
{% load bootstrap4%}
{% block content %}


 <div class="product-detail">
   <img src="{% if product.image %}{{ product.image.url }}{% else %}
 {% static "img/no_image.png" %}{% endif %}">
 <div class="card card-outline-secondary my-4">
 <div class="card-header md-10">
 <h1>{{ product.name }}</h1>
 <p>
 <a href="{{ product.category.get_absolute_url }}">
 {{ product.category }}
 </a>
 </p>
 <p class="price">{{ product.price }} $</p>
 
 	
	 <form action="{% url 'cart:cart_adding' product.id%}" method="post">
	   {{cart_product_form}}
	   {% csrf_token%}
	   <input type="submit" value="add to cart" class="btn btn-succes">
	   <p5 class="row">{{ product.description|safe}}</p5>
	 </form>
	</div>
	<iframe width="420" height="315"
src="https://www.youtube.com/embed/tgbNymZ7vqY">
</iframe>
</div>
 
 <hr>
 <div class="card card-outline-secondary my-4">
 	<div class="card-header md-4">
		<form name="comment-form" method="post" class="form" value="Submit">
			    {% csrf_token %}
			    {{form.media}}
			    {% bootstrap_form form %}
			    {% buttons %}
			        <button type="submit" class="btn btn-primary" onclick="submiteForm()">Submit</button>
			    {% endbuttons %}
		  </form>
	</div>
          <div class="card-header md-4">
            <p class="font-weight-bold">Product Reviews</p>
          </div>  
          <div class="card-body">
          	{% with comments.count as total_comments %}
		    <p class="font-weight-bold text-primary">
		      {{ total_comments }} comment{{ total_comments|pluralize }}
		    </p>
		    {% endwith %}
          {% for comment in comments %}
            <p>{{comment.body|safe|truncatewords:"50"|linebreaks}}</p>
            <small class="text-info">Commented by {{comment.name}} on {{comment.created}}</small>
            <hr>
            
            {% endfor %}

        	</div>
        	
        	

     <script src="{% static 'js/comment.js'%}"></script>
                  
 </div>

</div>
</div>    


{% endblock content %}