{% extends "base.html" %}
{% load static %}
{% block title %}
 {{ product.name }}
{% endblock %}
{% load bootstrap4%}
{% block content %}


 <div class="product-detail">
   <img src="{% if product.image %}{{ product.image.url }}{% else %}
 {% static "img/no_image.png" %}{% endif %}">
 <h1>{{ product.name }}</h1>
 <h2>
 <a href="{{ product.category.get_absolute_url }}">
 {{ product.category }}
 </a>
 </h2>
 <p class="price">{{ product.price }} $</p>
 <form action="{% url 'cart:cart_adding' product.id%}" method="post">
   {{cart_product_form}}
   {% csrf_token%}
   <input type="submit" value="add to cart" class="btn btn-succes">

 </form>
 <p class="row">{{ product.description}}</p>
 <hr>
 <div class="card card-outline-secondary my-4">
          <div class="card-header">
            <h3>Product Reviews</h3>
          </div>
          <div class="card-body">
          	
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis et enim aperiam inventore, similique necessitatibus neque non! Doloribus, modi sapiente laboriosam aperiam fugiat laborum. Sequi mollitia, necessitatibus quae sint natus.</p>
            <small class="text-muted">Posted by Anonymous on 3/1/17</small>

            <hr>
           <form method="post">
		      {{ comment_form.as_p }}
      		  {% csrf_token %}
		      <p><input type="submit" value="Add comment"></p>
		   </form>
<hr>
            
          </div>
        </div>
</div>    


{% endblock content %}
