{% extends "base.html" %}
{% load static %}
{% block title %}
 {{ product.name }}
{% endblock %}
{% load bootstrap4%}
{% block content %}


 <div class="product-detail">
   <img src="{% if product.image %}{{ product.image.url }}{% else %}
 {% static "img/no_image.png" %}{% endif %}">
 <h1>{{ product.name }}</h1>
 <h2>
 <a href="{{ product.category.get_absolute_url }}">
 {{ product.category }}
 </a>
 </h2>
 <p class="price">{{ product.price }} $</p>
 <form action="{% url 'cart:cart_adding' product.id%}" method="post">
   {{cart_product_form}}
   {% csrf_token%}
   <input type="submit" value="add to cart" class="btn btn-succes">

 </form>
 <p class="row">{{ product.description}}</p>
 <hr>
 <div class="card card-outline-secondary my-4">
          <div class="card-header md-10">
            <h3>Product Reviews</h3>
          </div>
          <div class="card-body">
          	{% with comments.count as total_comments %}
		    <h4>
		      {{ total_comments }} comment{{ total_comments|pluralize }}
		    </h4>
		    {% endwith %}
          {% for comment in comments %}
            <p>{{comment.body}}</p>
            <small class="text-info">Commented by {{comment.name}} on {{comment.created}}</small>

            <hr>
           {% endfor %}
           <form  method="post" class="form">
			    {% csrf_token %}
			    {{form.media}}
			    {% bootstrap_form form %}
			    {% buttons %}
			        <button type="submit" class="btn btn-primary">Submit</button>
			    {% endbuttons %}
		   </form>
<hr>
            
          </div>
</div>
</div>    


{% endblock content %}
